p.mkapi-section {
    font-weight: bold;
}

/*p.mkapi-heading {*/
/*    background-color: #e7f2fa;*/
/*    border-top: 0.5rem solid #6ab0de;*/
/*}*/

p.mkapi-object {
    background-color: #e7f2fa;
    border-top: 0.5rem solid #6ab0de;
    margin-bottom: 5px;
}

/*.mkapi-signature {*/
/*    color: gray;*/
/*    !*font-weight: bold;*!*/
/*}*/

.mkapi-object-kind {
    color: #3f89bd;
    font-weight: bold;
}

.mkapi-object-name {
    color: black;
    font-weight: bold;
}

span.mkapi-item-type {
}